__pycache__/
x86_64/
.idea/
*.mat
*.pyc
*.iml
*.xml
*.pkl
*DS_Store
*.sh
*.out
.idea
*ray*
simulations/
exp_results/*/*.png
exp_results/*/*.pkl
exp_results/*/*.json
exp_results/*/*.run
exp_results/*/*.sh
!exp_results/*/plots/*.png