__pycache__/
x86_64/
.idea/
*.mat
*.pyc
*.iml
*.xml
*.pkl
*DS_Store
*.out
.idea
*ray*
simulations/
exp_results/**/*.png
exp_results/**/*.pkl
exp_results/**/*.json
exp_results/**/*.run
exp_results/**/*.sh
exp_results/**/*.out
!exp_results/*/plots/*.png
!exp_results/*/plots_voltage/*.png
exp_configs/UNUSED
exp_results/UNUSED
simOutput/
batch.out
*exp_logs/
grid_search_local.py
submit_batch_local.sh
submit_single_local.sh
submit_analysis_local.sh
analysis/ou_tuning/workflow_local.py
analysis/ou_tuning/*.ipynb
batchtools_csv/